services:
  auth-service:
    build:
      context: ./auth-service
      dockerfile: Dockerfile

    ports:
      - 5000:5000

    volumes:
      - ./auth-service:/app #bind mount
      - /app/node_modules #anonymous volume

    env_file:
      - ./auth-service/.env
